@import url(font.css);
*{margin: 0; padding: 0; box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{font-family: 'Orbitron', sans-serif; font-size: 16px; color: #fff; line-height: 1.6;background-color: #000;}
a{text-decoration: none; color: inherit;}
ul, ol{list-style: none;}
img, input{vertical-align: middle;}
.inner_1600{width: 1600px; margin: 0 auto;}

/* header */
header {position: fixed; top: 0; left: 0; width: 100%; height: 80px; background: #000; box-shadow: 0 2px 5px rgba(0,0,0,0.1); z-index: 1000;font-weight: 900;}
.h_inner{position: relative; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; padding: 0 40px;}
/* main menu */
.logo {font-size: 2rem; font-weight: 900; color: #fff;}
.logo span {color: #40e84e;}
.gnb{display: flex; gap: 30px;font-size: 1.5rem;}